.container{
    width:100%;
    height:100%;
}


.LoginBox{
    width: 30%;
    height: 20vh;
    margin-top: 20vh ;
    align-self: center;
    font-size: large;
    border: 5px dotted rgb(255, 222, 144);
    background-color: rgb(255, 222, 144);
    box-shadow: 1 1 1 rgb(235, 160, 160) ;
}